<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestion academica</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"> </div>
<div class="container m-3">
    <form class="row"
          th:action="@{/asignaturas/delete/}+${asignatura.id}"
          th:object="${asignatura}"
          method="post">

        <div class="mb-3">
            <label class="form-label" for="ciclo">ciclo:</label>
            <input class="form-control" name="ciclo" placeholder="Escriba aquí el ciclo" th:value="${asignatura.ciclo}" disabled/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="curso">Curso de la asignatura:</label>
            <input class="form-control" name="curso" placeholder="Escriba aquí el curso" th:value="${asignatura.curso}" disabled/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="nombre">nombre de:</label>
            <input class="form-control" name="nombre" placeholder="Escriba aquí el nombre de asignatura" th:value="${asignatura.nombre}" disabled/>
        </div>
        <div>
            <button class="btn btn-danger mt-3" type="submit">Borrar</button>
            <a href="/localidades" class="btn btn-success mt-3">Cancelar</a>
        </div>
    </form>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>