<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestion academica</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

<div th:replace="~{fragmentos/general.html :: navigation}"> </div>

<div class="container">
    <h3>Listado de profesores: </h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Asignatura</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profesor: ${profesores}">
            <td th:text="${profesor.id}"></td>
            <td th:text="${profesor.apellidos}"></td>
            <td th:text="${profesor.email}"></td>
            <td th:text="${profesor.nombre}"></td>
            <td>
    <span th:if="${profesor.asignaturas != null and profesor.asignaturas.size() > 0}">
        <span th:each="asignatura : ${profesor.asignaturas}">
            <span th:text="${asignatura.nombre}"></span><br/>
        </span>
    </span>
                <a class="btn btn-primary" th:unless="${profesor.asignaturas != null and profesor.asignaturas.size() > 0}" th:href="@{/profesores/asignar/{profesorId}(profesorId=${profesor.id})}">Asignar Asignatura</a>
            </td>




            <td>
                <a class="btn btn-primary" th:href="@{/profesores/edit/}+${profesor.id}">Actualizar</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<div th:replace="~{fragmentos/general.html :: footer}">
</div>
</body>

</html>
