<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Académica: Acerca de</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"> </div>
<div class="container">
    <h5>Acerca de esta plataforma</h5>
    <p>Esta aplicación web ha sido desarrollada como proyecto para el ciclo de Desarrollo de Aplicaciones
        Multiplataforma.</p>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>

</html>
