<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Académica: Bienvenido</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"> </div>
<div class="container">
    <div class="card m-4" style="width: 18rem;">
        <img src="img/img.jpeg" class="card-img-top" alt="Gestión Académica">
        <div class="card-body">
            <h5 class="card-title">Bienvenido a la Gestión Académica</h5>
            <p class="card-text">Gracias por visitar nuestra plataforma de gestión académica. Para acceder a su cuenta, por favor inicie sesión.</p>
            <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>

</html>
